include src/NuOscParam/Models/saved_models/ConformalCalibration/*.pt
include src/NuOscParam/Models/saved_models/ModelType-HierarchicalTransformer/*.txt
include src/NuOscParam/Models/saved_models/ModelType-PI-NNs/*.pt
include src/NuOscParam/Models/saved_models/ModelType-SurrogateNNs/*.pt
include src/NuOscParam/Data/Neutrino/input/*.txt
include src/NuOscParam/Data/Neutrino/input/*.npy
include src/NuOscParam/Data/Predicted/*.h5
include src/NuOscParam/Data/Datasets/*.txt
include src/NuOscParam/MCMC/results/test_set_1/*.npy
include src/NuOscParam/MCMC/results/test_set_2/*.npy
include src/NuOscParam/MCMC/results/test_set_3/*.npy
include src/NuOscParam/MCMC/results/test_set_4/*.npy
include src/NuOscParam/MCMC/results/test_set_5/*.npy
include src/NuOscParam/MCMC/results/test_set_6/*.npy
include src/NuOscParam/MCMC/results/test_set_7/*.npy
include src/NuOscParam/MCMC/results/test_set_8/*.npy
include src/NuOscParam/MCMC/results/test_set_9/*.npy
include src/NuOscParam/MCMC/results/test_set_10/*.npy